body {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e0fcbc 100%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0fcbc), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e0fcbc 100%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e0fcbc 100%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e0fcbc 100%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e0fcbc 100%,#fcfcfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */

    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-weight: 700;

}
.remember {
    padding: 10px;

}
.gamelogos {

}
.signup {
    padding:10px;
    margin:10px;
}
.jumbotron {
    background-image: url('images/jumbotronbig.jpg');
    background-repeat: no-repeat;

}
.navbar-inverse{
    height: 55px;
    border-radius: 6px;
}
.navbar-fixed-bottom {
    border-radius: 6px;
}
.subheadings {
    font-family: 'orbitron', sans-serif;
}

.jthead {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900 ;
}

.navlogo {
    padding-bottom: 10px;
    margin-bottom: 25px;
}

#contact-form {
    padding:0px 0 0 0;
    position: relative;
    width: 300px;
}
#contact-form .success
{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}
#contact-form textarea, #contact-form input {
    margin:0;
    box-shadow: 0 0 3px #b6b4ad;
    font-size:13px;
    border:none;
    color:#424242;
    padding:9px 12px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    border-radius: 5px;  }


#contact-form input {
    width:277px;
}
#contact-form textarea {
    overflow:auto;
    width:357px;
    height:146px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
}

#contact-form label {
    display:inline-block;
    position: relative;
    min-height:50px;
}
#contact-form label.message {
    display:block;
    padding-bottom:0;
}
#contact-form .link2 {
    margin-left:30px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
}
#contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:12px;
}
#contact-form .buttons2 a {
    cursor:pointer;
    margin-top:0;
    text-align:center;
}
#contact-form span{
    display:block;
    margin: 0px 0 0 5px;
}

.dropdown-menu{
   background-color:#7cac11;
    border-radius: 6px;
    visibility: visible;

}
.modal-body {
   background: linear-gradient(to bottom,  #ffffff 0%,#e0fcbc 100%,#fcfcfc 100%);
}
.navbar-text > a{
    text-decoration: none;
}